Firstly we need to install all libraries for our web scraping

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {"Accept-Language":"en-US,en;q=0.5"}

we need our data in english oonly

In [3]:
Sno = []
Movie_Name = []
Director_Name = []
Duration = []
year = []
ratings = []
Metascore = []

need to select all the pages for the web scrap

In [4]:
pages = np.arange(1,1770,50)

In [5]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text,'html.parser')
    movie_data = soup.findAll('div',attrs ={'class':'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        sno = store.h3.find('span',class_="lister-item-index unbold text-primary").text
        Sno.append(sno)
        
        name = store.h3.a.text
        Movie_Name.append(name)
        
        director = store.find('p',class_='').find_all('a')[0].text
        Director_Name.append(director)
        
        runtime = store.find("span",class_='runtime').text
        Duration.append(runtime)
        
        Release_year = store.h3.find('span',class_="lister-item-year text-muted unbold").text
        year.append(Release_year)
        
        rate = store.find('div',class_="inline-block ratings-imdb-rating").text.replace('\n','')
        ratings.append(rate)
        
        meta = store.find('span',class_="metascore").text if store.find('span',class_="metascore") else"*****"
        Metascore.append(meta)

1) so we used Beautifulsoup for our data scraping 

2) in place of all blank columns we fill it up with some characters

In [6]:
print(len(Sno),len(Movie_Name),len(Director_Name),len(Duration ),len(year),len(ratings),len(Metascore))

1770 1770 1770 1770 1770 1770 1770

So our Data is equal so we will have acces to make data frame out of it.

In [7]:
Movie_list=pd.DataFrame({"Sno":Sno,"Movie_Name":Movie_Name,"Director_Name":Director_Name,"Duration":Duration,"Ratings":ratings,"Metascore":Metascore})

In [8]:
Movie_list

,Sno,Movie_Name,Director_Name,Duration,Ratings,Metascore
0,1.,The Dark Knight,Christopher Nolan,152 min,9.0,84
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,9.0,94
2,3.,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,8.9,86
3,4.,Inception,Christopher Nolan,148 min,8.8,74
4,5.,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,8.8,92
...,...,...,...,...,...,...
1765,"1,766.",Radhe,Prabhu Deva,109 min,1.9,*****
1766,"1,767.",Race 3,Remo D'Souza,160 min,1.9,*****
1767,"1,768.",Angels Apocalypse,Sean Cain,85 min,1.6,*****
1768,"1,769.",Elk*rtuk,Keith English,125 min,1.5,*****
1769,"1,770.",Sadak 2,Mahesh Bhatt,133 min,1.2,*****

1) So we have total of 1770 rows and 6 columns from our Table 1 dataset

2) Further we need to convert our table into required csv file

In [9]:
Movie_list.to_excel("Movies Table 1 by IMDb.xlsx")

In [10]:
Movie_list.to_csv('Movies Table 1 by IMDb.csv')

# For Table 2

In [11]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [12]:
headers = {"Accept-Language":"en-US,en;q=0.5"}

In [13]:
Movie_Name = []
stars = [] 
votes = [] 
Genre = [] 
Gross_collection = [] 
Certification = []

In [14]:
pages = np.arange(1,1770,50)

In [15]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&genres=action&sort=user_rating,desc&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text,'html.parser')
    movie_data = soup.findAll('div',attrs ={'class':'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
        name = store.h3.a.text
        Movie_Name.append(name)
        
        stars.append([a.text for a in store.find('p',class_='').find_all('a')[1:]])
        
        genre = store.find('span',class_="genre").text.strip()
        Genre.append(genre)
        
        certificate = store.find('span',class_='certificate').text if store.find('span',class_='certificate') else '-'
        Certification.append(certificate)
        
        value = store.find_all('span',attrs = {'name':"nv"})
        
        vote = value[0].text
        votes.append(vote)
        
        grosses = value[1].text if len(value)>1 else '%^%^%'
        Gross_collection.append(grosses)

In [16]:
print(len(Movie_Name),len(stars),len(votes),len(Genre),len(Gross_collection),len(Certification))

1770 1770 1770 1770 1770 1770

In [17]:
Movie_list=pd.DataFrame({"Movie_Name":Movie_Name,"stars":stars,"votes":votes,"Genre":Genre,"Gross_collection":Gross_collection,"Certification":Certification})

In [18]:
Movie_list

,Movie_Name,stars,votes,Genre,Gross_collection,Certification
0,The Dark Knight,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...","2,742,452","Action, Crime, Drama",$534.86M,UA
1,The Lord of the Rings: The Return of the King,"[Elijah Wood, Viggo Mortensen, Ian McKellen, O...","1,899,541","Action, Adventure, Drama",$377.85M,U
2,Spider-Man: Across the Spider-Verse,"[Kemp Powers, Justin K. Thompson, Shameik Moor...","187,077","Animation, Action, Adventure",%^%^%,U
3,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli...","2,433,616","Action, Adventure, Sci-Fi",$292.58M,UA
4,The Lord of the Rings: The Fellowship of the Ring,"[Elijah Wood, Ian McKellen, Orlando Bloom, Sea...","1,927,950","Action, Adventure, Drama",$315.54M,U
...,...,...,...,...,...,...
1765,Radhe,"[Salman Khan, Disha Patani, Randeep Hooda, Jac...","179,066","Action, Crime, Thriller",%^%^%,UA
1766,Race 3,"[Anil Kapoor, Salman Khan, Bobby Deol, Jacquel...","47,818","Action, Crime, Thriller",$1.69M,UA
1767,Angels Apocalypse,"[Enzo Zelocchi, Enzo Zelocchi, Jana Rochelle, ...","42,919","Action, Fantasy, Sci-Fi",%^%^%,-
1768,Elk*rtuk,"[Vivianne BÃ¡novits, AndrÃ¡s MÃ³zes, Barna Bokor,...","39,601","Action, Crime, Drama",%^%^%,-
1769,Sadak 2,"[Alia Bhatt, Pooja Bhatt, Aditya Roy Kapoor, S...","96,356","Action, Drama",%^%^%,15+

In [19]:
Movie_list.to_excel("Movies Table 2 by IMDb.xlsx")

In [20]:
Movie_list.to_csv('Movies Table 2 by IMDb.csv')

In [21]:
df = pd.read_csv('Movies Table 1 Final by IMDb.csv',encoding='latin-1')
df

,Sno,Movie_Name,Director_Name,Duration,Ratings,Metascore
0,1.,The Dark Knight,Christopher Nolan,152 min,9.0,84
1,2.,The Lord of the Rings: The Return of the King,Peter Jackson,201 min,9.0,94
2,3.,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,140 min,8.9,86
3,4.,Inception,Christopher Nolan,148 min,8.8,74
4,5.,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,178 min,8.8,92
...,...,...,...,...,...,...
1765,"1,766.",Radhe,Prabhu Deva,109 min,1.9,*****
1766,"1,767.",Race 3,Remo D'Souza,160 min,1.9,*****
1767,"1,768.",Angels Apocalypse,Sean Cain,85 min,1.6,*****
1768,"1,769.",Elk*rtuk,Keith English,125 min,1.5,*****
1769,"1,770.",Sadak 2,Mahesh Bhatt,133 min,1.2,*****

In [22]:
df1 = pd.read_csv('Movies Table 2 Final by IMDb.csv',encoding='latin-1')
df1

,Movie_Name,star1,star2,star3,star4,votes,Genre1,Genre2,Genre3,Gross_collection,Certification
0,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,"27,42,337",Action,Crime,Drama,$534.86M,UA
1,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,"18,99,497",Action,Adventure,Drama,$377.85M,U
2,Spider-Man: Across the Spider-Verse,Kemp Powers,"Justin K. Thompson, Shameik Moore, Hailee Stei...",Brian Tyree Henry,Luna Lauren Velez,"1,86,945",Animation,Action,Adventure,%^%^%,U
3,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,"24,33,497",Action,Adventure,Sci-Fi,$292.58M,UA
4,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,"19,27,909",Action,Adventure,Drama,$315.54M,U
...,...,...,...,...,...,...,...,...,...,...,...
1765,Radhe,Salman Khan,Disha Patani,Randeep Hooda,Jackie Shroff,"1,79,065",Action,Crime,Thriller,%^%^%,UA
1766,Race 3,Anil Kapoor,Salman Khan,Bobby Deol,Jacqueline Fernandez,"47,817",Action,Crime,Thriller,$1.69M,UA
1767,Angels Apocalypse,Enzo Zelocchi,"Enzo Zelocchi, Jana Rochelle",Ryan C.F. Buckley,William Kirkham,"42,919",Action,Fantasy,Sci-Fi,%^%^%,-
1768,Elk*rtuk,Vivianne BÃ¡novits,AndrÃ¡s MÃ³zes,Barna Bokor,Gabriella GubÃ¡s,"39,601",Action,Crime,Drama,%^%^%,-
1769,Sadak 2,Alia Bhatt,Pooja Bhatt,Aditya Roy Kapoor,Sanjay Dutt,"96,356",Action,Drama,Drama,%^%^%,15+

So all the data from Table 2 also been extracted 

all the data which we need to bifurcate into some columns is also done so we are ready to move.